* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #222;
    padding: 15px 40px;
}

/* Logo */
.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: yellow;
}

/* Hero Section */
.hero {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to right, #4facfe, #00f2fe);

    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 22px;
}